<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>doLogin</servlet-name>
    <servlet-class>com.stuinfo.web.doXxx</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>classList</servlet-name>
    <servlet-class>com.stuinfo.web.classListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteClassServlet</servlet-name>
    <servlet-class>com.stuinfo.web.deleteClassServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doSaveClassDataServlet</servlet-name>
    <servlet-class>com.stuinfo.web.doSaveClassDataServlet</servlet-class>
  </servlet>
    <servlet>
    <servlet-name>studentListServlet</servlet-name>
    <servlet-class>com.stuinfo.web.studentListServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>asyReadDataServlet</servlet-name>
    <servlet-class>com.stuinfo.web.asyReadDataServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>deleteStudentServlet</servlet-name>
    <servlet-class>com.stuinfo.web.deleteStudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>doSaveStudentServlet</servlet-name>
    <servlet-class>com.stuinfo.web.doSaveStudentServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>doLogin</servlet-name>
    <url-pattern>/doLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>classList</servlet-name>
    <url-pattern>/classListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteClassServlet</servlet-name>
    <url-pattern>/deleteClassServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doSaveClassDataServlet</servlet-name>
    <url-pattern>/doSaveClassDataServlet</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    <servlet-name>studentListServlet</servlet-name>
    <url-pattern>/studentListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>asyReadDataServlet</servlet-name>
    <url-pattern>/asyReadDataServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>deleteStudentServlet</servlet-name>
    <url-pattern>/deleteStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>doSaveStudentServlet</servlet-name>
    <url-pattern>/doSaveStudentServlet</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
